{% extends 'master.html' %}

{% block title %}Donor{% endblock %}

{% block content %}
<div class="dashboard-content">

    <div class="recipient-form-container">
        <h2>Hospital Registration Form</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="hospital_name">Hospital Name</label>
            <input type="text" id="hospital_name" name="hospital_name" placeholder="Enter hospital name" required>
                        
            <label for="hospital_code">Hospital Code</label>
            <input type="text" id="hospital_code" name="hospital_code" placeholder="Enter hospital code" required>

           <label for="since">Since</label>
           <select id="since" name="since" required>
              <option value="">Select Year</option>
              {% for y in years %}
                 <option value="{{ y }}">{{ y }}</option>
              {% endfor %}
           </select>


            <label for="address">Location</label>
            <textarea id="location" name="location" placeholder="Enter full address" required></textarea>

            <label for="ph">Contact Number</label>
            <input type="tel" id="ph" name="ph" placeholder="Enter contact number" required>




            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<style>
.dashboard-content {
    text-align: center;
    margin-top: 20px;
}

.logout-btn {
    background-color: #b30000;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    float: right;
    margin-right: 30px;
}

.logout-btn:hover {
    background-color: #990000;
}

.recipient-form-container {
    background-color: #fff;
    max-width: 450px;
    margin: 40px auto;
    padding: 25px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.recipient-form-container h2 {
    color: #b30000;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #990000;
}
</style>
{% endblock %}
